footer.footer
  .footer__col
    strong © 2020
    a(href='https://johannesthiel.me') Johannes Thiel
  .footer__col
    strong Contact
    a(href='mailto:hi@johannesthiel.me' rel='me') hi@johannesthiel.me
  .footer__col
    strong Social
    div
      a(href='https://github.com/ToxicJojo') Github
      |  / 
      a(href='https://twitter.com/ToxicJojo') Twitter
  .footer__col
    strong Legal 
    div
      a(href='/imprint') Imprint 
