footer.footer.h-card
  .footer__col
    strong © 2019
    a.p-name.u-url(href='https://johannesthiel.me') Johannes Thiel
  .footer__col
    strong Social
    div
      a(href='https://github.com/ToxicJojo') Github
      |  / 
      a(href='https://twitter.com/ToxicJojo') Twitter
  .footer__col
    strong Legal 
    div
      a(href='/imprint') Imprint 
