.header {
  @include flex-row;
  justify-content: space-between;
  padding: 32px;
}

.header__logo {
  display: flex;
  align-items: center;
  border: none;
  fill: currentColor;
  stroke: currentColor;
}

.header__icon {
  width: 64px;
  height: 32px;
  color: var(--text-color);
}

.header__nav {
  @include flex-row;
  align-items: center;
}

.header__theme-button {
  padding: 16px;
  margin: 0;
  background-color: unset;
  border: unset;
}
