---
layout: base
permalink: index.html
dynamicPermalink: false
---

section.container
  h1.hero__title Hi I'm Johannes
  p.hero__content
   |I am a student at Heinrich-Heine University Düsseldorf currently working on my Master's degree in Computer Science. 
   br
   | I make websites and love playing with new frameworks/technologies. Check out things I worked on 
   a(href='/projects' title='Projects I have worked on') here
   | .
