$font-size: 20px;

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
  line-height: 1.5;

  // Styles for the light theme
  &.light {
    background-color: $body-background-light;
    color: $text-color-light;

    h1, h2, h3, h4, h5, h6 {
      color: $heading-color-light;
    }
  }

  // Styles for the dark theme
  &.dark {
    background-color: $body-background-dark;
    color: $text-color-dark;

    h1, h2, h3, h4, h5, h6 {
      color: $heading-color-dark;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  margin-top: (3 * $font-size);
  margin-bottom: 0;
}

p {
  margin-top: (1.5 * $font-size);
  margin-bottom: 0;
}
