$body-background-light: #fff;
$body-background-dark: #333;

$primary-color: #1abc9c;

$text-color-light: #333;
$text-color-dark: #ddd;

$heading-color-light: #222;
$heading-color-dark: #eee;
