doctype html
html(lang='en')
  head
    title Johannes Thiel - Frontend Web Developer
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content='Johannes Thiel is a M.Sc. student at Heinrich-Heine University Düsseldorf and frontend developer.')
    link(rel='stylesheet' href='/css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro&display=swap' rel='stylesheet')
    script.
      ((localStorage.getItem('theme') === 'true') && (document.documentElement.setAttribute('data-theme', 'dark')))
  body
    include includes/header.pug

    main
      | !{content}

    include includes/footer.pug
    script(src='/js/main.js')
